$dark: #072605;
$medium: lighten($dark, 20%);
$highlight: #0dae0b;
$light: #f2f0df;
$lighter: #fffbf8;

.network-map-block {
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  .go-back {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 5px;
    top: 5px;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "\f060";
      font-family: "FontAwesome";
      font-size: 1em;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.doc-panels {
  width: calc(100% - 30px);
  max-height: 40%;
  position: absolute;
  left: 15px;
  bottom: 15px;
  background: $light;
  overflow-y: auto;
  .doc-panel {
    border: 1px solid $highlight;
    margin: 0;
    // border-bottom: 0;
    display: none;
    .property {
      padding-left: 15px;
      padding-right: 15px;
      &:first-of-type {
        border-top: 0;
      }
    }
    &.show {
      display: block;
    }
  }
  .close-panels {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 5px;
    top: 5px;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "\f00d";
      font-family: "FontAwesome";
      font-size: 1em;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.network-map {
  display: block;
  overflow: auto;
  border: 1px solid $highlight;
  svg {
    font-family: "Archivo Narrow", sans-serif;
    overflow: visible;
    .document {
      fill: transparent;
      // transform: translateX(-10%);
      & > text {
        stroke: none;
      }
      & > rect {
        fill: transparent;
        stroke: transparent;
        stroke-width: 1.5px;
      }
    }
    path {
      fill: none;
    }
    .document, .node, .detail text, .all-documents {
      cursor: pointer;
    }
    .nodes .node {
      circle {
        fill: $light;
        stroke: $highlight;
        stroke-width: 2.5px;
      }
      text.label {
        fill: black;
      }
      text.label-stroke {
        // fill: black;
      }
    }
    .all-documents {
      fill: #aaa;
    }
    .detail a text:hover, text.all-documents:hover {
      text-decoration: underline;
    }
  }
}
#graph-info {
  position: absolute;
  width: 140px;
  right: 0;
  bottom: 0;
  padding-bottom: 10px;
}